body {
    color: white;
    background-color: black;

    margin: 15%;
    
    font-size: 16px; 
    font-family: 'Ubuntu Mono', monospace;
}

section { border-bottom: 0.1em dashed white; }

ul { list-style: none; }

li::before {
    content: '*';
    padding-right: 0.5em;
}

h1 { font-size: 2em; }

h2 {
    color: peru;
    font-size: 1.5em;
}

a { color: peru; }
